data
.ipynb_checkpoints
__pycache__
raw/nda_rds_201.csv
raw/derivatives/*
Job_Logs
*.pyc

train_subjects.txt
test_subjects.txt
core.*
AutogluonModels
extra_random_parcels
Test_Notebooks/
Plots/Figures/*
results_done.pkl
old/
old
cache/
cache_fit/
exp/All_Job_Logs
exp/All_Job_Logs/*
exp/job_logs.save
results
exp/results
temp-plot.html
analyze/temp-plot.html
.vscode
.vscode/settings.json

parcels/vol-resamp-allen_prob.npy
parcels/vol-resamp-craddock-scorr_2level_prob.npy
parcels/vol-resamp-craddock-scorr_mean_prob.npy
parcels/vol-resamp-craddock-tcorr_2level_prob.npy
parcels/vol-resamp-craddock-tcorr_mean_prob.npy
parcels/vol-resamp-difumo-64_prob.npy
parcels/vol-resamp-difumo-128_prob.npy
parcels/vol-resamp-harvard-oxford-cort-prob-1mm_prob.npy
parcels/vol-resamp-msdl_prob.npy
parcels/vol-resamp-smith-bm70_prob.npy
parcels/vol-resamp-smith-rsn70_prob.npy

parcels_new
extra/temp