data
.ipynb_checkpoints
__pycache__
raw/nda_rds_201.csv
raw/derivatives/*
Job_Logs
*.ipynb
*.pyc

raw/difumo/*
train_subjects.txt
test_subjects.txt
core.*
AutogluonModels
parcels/*_prob.npy
neuro_parc